<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../images/AMZ-Logo.webp">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css">
        <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
        <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
        <title>Kkazon</title>
    </head>
    <body>
        <header>
            <div class="menu">
                <h1>FakeZon</h1> 
                <nav> 
                    <ul>
                        <li><a href="../index.html" >INICIO</a></li>
                        <li><a href="../views/galeria.html">GALERIA</a></li>
                        <li><a href="#" id="marcador">CONTACTO</a></li>
                        <li><a href="../views/presupuesto.html" >PRESUPUESTO</a></li>
                    </ul>
                </nav>
            </div>  
        </header>
        <div class="mainContacto">
            <div class="containerContacto">
                <h2>Donde encontrarnos</h2>
                <div id="map"></div>
                <div class="costado">
                    <h3>Encuéntranos</h3><br>
                   
                    Artisan Hillbottom Road, <br>
                    Sands Industrial Estate, High Wycombe, <br>
                    Inglaterra, HP12 4HJ 
                    <br>
                    <br>
                    <h3>Datos de contacto</h3>
                    <br>
                    Fakezone Ltd <br>
                    adminfakezone@gmail.com
                    954782546</div>
            </div>
            
        </div>
        <footer> 
            <div class="containerFooter"> 
                <a href="https://www.facebook.com/"><img style="width: 40px; height: 40px" src="../images/facebook.jpg" class="logosFooter" alt="logoFacebook"></a>
                <a href="https://www.instagram.com/instagram/"><img style="width: 40px; height: 40px" src="../images/instagram.jpg" class="logosFooter" alt="logoInstagram"></a>
                <a href="https://www.linkedin.com/"><img style="width: 40px; height: 40px" src="../images/linkedin.jpg" class="logosFooter" alt="logoLinkedin"></a>
            </div>
            <p>&copy; 2025 FakeZon (UK) Limited.
                Domicilio social Fakezon (UK) Ltd, Artisan Hillbottom Road, Sands Industrial Estate, High Wycombe, Inglaterra, HP12 4HJ
            </p>
        </footer>
        <script src="../js/contacto.js"></script>
    </body>
</html>
