<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../images/AMZ-Logo.webp">
        <link rel="stylesheet" href="../css/style.css">

        
        <title>Fakezon</title>
    </head>
    <body>
        <header>
            <div class="menu">
                <h1>FakeZon</h1> 
                <nav> 
                    <ul>
                        <li><a href="../index.html" >INICIO</a></li>
                        <li><a href="#"id="marcador">GALERIA</a></li>
                        <li><a href="../views/contacto.html">CONTACTO</a></li>
                        <li><a href="../views/presupuesto.html">PRESUPUESTO</a></li>
                    </ul>
                </nav>
            </div>  
        </header>
        <div class="mainGaleria">
            <div>
                <p id="txt-arriba">TODO REBAJAS</p>
                <p id="txt-mitad">
                    Echa un vistazo a nuestra galeria
                </p>
                <div id="cajaInformacion">  
                <div class="imgProducto">
                </div>
                <div class="infoProductos">
                </div>
                </div> 
                <section id="cajaGaleria">
                <a href="../images/playstation5.avif"  data-title="La consola PlayStation 5 de Sony, lo último en tecnología.">
                    <img src="../images/playstation5.avif" class="img" id="img-1" alt="PlayStation 5">
                </a>
                <a href="../images/oferta_Nintendo.avif"  data-title="Gran oferta en la consola Nintendo Switch.">
                    <img src="../images/oferta_Nintendo.avif" class="img" id="img-2" alt="Oferta Nintendo">
                </a>
                <a href="../images/Super_Mario.jpg"  data-title="El clásico juego de Super Mario Bros.">
                    <img src="../images/Super_Mario.jpg" class="img" id="img-3" alt="Super Mario">
                </a>
                <a href="../images/monitorGamer.png"  data-title="El clásico juego de Super Mario Bros.">
                    <img src="../images/monitorGamer.png" class="img" id="img-4" alt="Super Mario">
                </a>
                <a href="../images/redDeadRedepmtion2.png"  data-title="El clásico juego de Super Mario Bros.">
                    <img src="../images/redDeadRedepmtion2.png" class="img" id="img-5" alt="Super Mario">
                </a>
                <a href="../images/sillaGamer.png"  data-title="El clásico juego de Super Mario Bros.">
                    <img src="../images/sillaGamer.png" class="img" id="img-6" alt="Super Mario">
                </a>
                <a href="../images/spider-man.png"  data-title="El clásico juego de Super Mario Bros.">
                    <img src="../images/spider-man.png" class="img" id="img-7" alt="Super Mario">
                </a>
                <a href="../images/teclado.png"  data-title="El clásico juego de Super Mario Bros.">
                    <img src="../images/teclado.png" class="img" id="img-8" alt="Super Mario">
                </a>
            </section>
            </div>
           
            
        </div>
            </section>
        </div>
        <footer> 
            <div class="containerFooter"> 
                <a href="https://www.facebook.com/"><img style="width: 40px; height: 40px" src="../images/facebook.jpg" class="logosFooter" alt="logoFacebook"></a>
                <a href="https://www.instagram.com/instagram/"><img style="width: 40px; height: 40px" src="../images/instagram.jpg" class="logosFooter" alt="logoInstagram"></a>
                <a href="https://www.linkedin.com/"><img style="width: 40px; height: 40px" src="../images/linkedin.jpg" class="logosFooter" alt="logoLinkedin"></a>
            </div>
            <p>&copy; 2025 FakeZon (UK) Limited.
                Domicilio social Fakezon (UK) Ltd, Artisan Hillbottom Road, Sands Industrial Estate, High Wycombe, Inglaterra, HP12 4HJ
            </p>
        </footer>
        <div id="modal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <img id="modal-image" src="" alt="Imagen ampliada">
            </div>
          </div>
        <script src="../js/galeria.js"></script>
    
    </body>
</html>